/* canvas {

  height: 500px !important;
} */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}


#pixi-component canvas {
  height: auto !important;
}